.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 148px;
}

.rightSide,
.leftSide {
  display: flex;
  align-items: center;
}

.leftSide {
  column-gap: 24px;
}

.loginButton {
  margin-inline: 49px 36px;
}
