.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 14.8rem;
  cursor: pointer;
}

.rightSide,
.leftSide {
  display: flex;
  align-items: center;
}

.leftSide {
  column-gap: 2.4rem;
}

.loginButton {
  margin-inline: 4.9rem 3.6rem;
}

.profileView {
  margin-inline: 4.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profileView > p {
  font-size: 2rem;
  color: #5085cf;
}

.profileImg {
  width: 4.6rem;
  height: 4.6rem;
  margin-left: 1.2rem;
}
