.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 148px;
  cursor: pointer;
}

.rightSide,
.leftSide {
  display: flex;
  align-items: center;
}

.leftSide {
  column-gap: 24px;
}

.loginButton {
  margin-inline: 49px 36px;
}

.profileView {
  margin-inline: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profileView > p {
  font-size: 20px;
  color: #5085cf;
}

.profileImg {
  width: 46px;
  height: 46px;
  margin-left: 12px;
}
