.page {
  margin-block: 14.3rem;
  margin-inline: auto;
  width: 105.7rem;
  display: flex;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.img {
  width: 50%;
  margin-left: -1px;
  margin-bottom: -1px;
  object-fit: cover;
  border-radius: 1.5rem;
}

.informationBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-inline: 8.3rem 7.7rem;
}

.informationBox > * {
  order: 3;
}

.goFirst {
  order: 2;
}

.logo {
  order: 1;
  width: 13.5rem;
  margin-right: -5px;
  margin-block: 6.3rem 7.2rem;
}

.input > label {
  margin-inline-start: 2rem;
}

.input {
  margin-bottom: 4.5rem;
}

.passwordCheck.input {
  margin-bottom: 1.6rem;
}

.remainingCheck {
  font-size: 1.2rem;
  color: #757575;
  margin-bottom: 4.5rem;
  margin-inline-start: 2rem;
  display: flex;
  align-items: center;
}

.remainingCheck input {
  margin-inline-end: 1rem;
  width: 1.2rem;
  height: 1.2rem;
}

.button {
  margin-bottom: 2rem;
}

.haveAccount {
  margin-inline-start: 2rem;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.goToSignin {
  color: #50c4cf;
  margin-inline-start: 10px;
  text-decoration: none;
  cursor: pointer;
}

.dividerLine {
  margin-bottom: 2.7rem;
}

.socialMediaBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #757575;
  margin-bottom: 6.4rem;
}
