.scrollCircle {
  border-radius: 50%;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.mobileAppBlur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  backdrop-filter: blur(5px);
}

.mobileAppBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashedBorder {
  width: 16rem;
  height: 16rem;
}

.mobileAppBoxDisplay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  box-shadow: 0 5px 5px 0 gainsboro;
  cursor: pointer;
}

.mobileAppBoxDisplay > p {
  text-align: center;
  font-size: 1rem;
}

.mobileIcon {
  width: 2.5rem;
  margin-bottom: -12px;
}
