.page {
  margin-top: 7.6rem;
}

.header {
  margin-bottom: 9.4rem;
  margin-inline: 7rem;
}

.article {
  margin-inline: 17.6rem;
  position: relative;
}

.coverImageBox {
}

.coverImage {
  width: 100%;
  border-radius: 1rem;
  height: 40rem;
  object-fit: cover;
  position: absolute;
  object-position: top;
  z-index: 1;
}

.blurBox {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  height: 40rem;
  background: rgba(0, 0, 0, 0.48);
  z-index: 2;
}

.profileMainBox {
  padding-top: 14.5rem;
  column-gap: 2.4rem;
  padding-inline: 2.4rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16rem;
}

.optionSide {
  background-color: white;
  z-index: 9;
  border-radius: 2rem 15rem 2rem 2rem;
  width: 30rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shortReview {
  padding-top: 4.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding-bottom: 3.5rem;
}

.profileImage {
  width: 12rem;
  height: 12rem;
}

.optionSide hr {
  margin-inline: 4.2rem 3.6rem;
}
.optionList {
  display: flex;
  flex-direction: column;
  row-gap: 3.8rem;
  margin-block: 3.7rem 7.5rem;
  margin-inline-start: 3.8rem;
}

.optionIcon {
  width: 3.6rem;
}

.optionsItem {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
}

.optionsItem p {
  size: 1.6rem;
  font-weight: 400;
  padding-inline-start: 1.8rem;
}

.detailSection {
  background-color: white;
  z-index: 9;
  border-radius: 2rem;
  flex-grow: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 8.8rem;
}
