.label {
  font-size: 16px;
  font-weight: 400;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.input {
  border: 1px solid white;
  border-radius: 20px;
  font-size: 14px;
  width: 347px;
  padding-right: 30px;
  padding-block: 26px;
  background: transparent;
}

.input::placeholder {
  color: rgba(228, 228, 227, 0.54);
}
