.inputBox {
  position: relative;
}

.label {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  display: block;
  margin-bottom: 1.4rem;
  position: relative;
  width: fit-content;
}

.input {
  border: 1px solid white;
  border-radius: 2rem;
  font-size: 1.8rem;
  padding-inline: 3rem;
  height: 5.8rem;
  width: 100%;
  background: transparent;
  outline: none;
}

.select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  cursor: pointer;
}

.input[type="password"] {
  padding-inline-end: 6rem;
}

.eyeIcon {
  position: absolute;
  right: 2.6rem;
  transform: (0, 50%);
  top: 50%;
  cursor: pointer;
}

.arrowIcon {
  cursor: pointer;
  position: absolute;
  width: 3rem;
  height: 1.6rem;
  left: 2.6rem;
  top: 60%;
  z-index: 0;
}

.errorText {
  color: red;
  position: absolute;
  bottom: -2.4rem;
}

.input::placeholder {
  color: rgba(228, 228, 227, 0.54);
  font-size: 1.4rem;
}

.label.black {
  color: black;
}

.input.black {
  color: rgba(117, 117, 117, 1);
  border: 1px solid black;
}

.input.black::placeholder {
  color: rgba(117, 117, 117, 0.54);
}

.input.black:disabled {
  background-color: #f4f4f4;
}

.input.left {
  direction: ltr;
}

.input.right {
  direction: rtl;
}

.label.important::after {
  content: "*";
  position: absolute;
  left: -4px;
  top: -4px;
  transform: translate(-100%, -50%);
  font-size: 2.4rem;
  color: #50c4cf;
}
