.button {
  cursor: pointer;
  height: 58px;
  padding-inline: 31px;
}

.register {
  border: 2px solid #5085cf;
  border-radius: 16px;
  background-color: transparent;
  color: #50c4cf;
  font-size: 16px;
}

.confirm {
  border: 2px solid #50c4cf;
  border-radius: 16px;
  background-color: #50c4cf;
  color: #fff;
  font-size: 16px;
  min-width: 124px;
}
