.filtersBox {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 2.9rem 2.9rem 4.9rem 2.9rem;
  display: flex;
  flex-direction: column;
}

.filtersBox h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #50c4cf;
  margin-bottom: 3rem;
}

.filter {
  display: flex;
  margin-bottom: 2rem;
  position: relative;
}

.toggleFilter {
  justify-content: space-between;
  margin-top: 2rem;
}

.hr {
  border-top: 1px solid #7b7d7f;
  margin-bottom: 2rem;
  width: 100%;
}

.filter {
  font-size: 1.4rem;
  font-weight: 400;
}

.toggleFilter label {
  font-size: 1.6rem;
  margin-inline-end: 0;
}

.filter select {
  flex-grow: 1;
  outline: none;
  border: none;
}
