.page {
  margin-top: 7.6rem;
}

.header {
  margin-bottom: 8.8rem;
  margin-inline: 7rem;
}

.slideShow {
  padding-inline: 7rem;
  height: 53.9rem;
  margin-bottom: 13.5rem;
}

.worthiness {
  margin-bottom: 15.4rem;
}

.text {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.safeserviceText {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  color: #50c4cf;
  margin-bottom: 17.7rem;
}
