.page {
  margin-top: 78px;
}

.header {
  margin-bottom: 88px;
  margin-inline: 70px;
}

.slideShow {
  padding-inline: 70px;
  height: 539px;
  margin-bottom: 135px;
}

.worthiness {
  margin-bottom: 154px;
}

.text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.safeserviceText {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #50c4cf;
  margin-bottom: 177px;
}
