.productCard {
  padding: 2.4rem 2.4rem 4.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  width: 30.7rem;
  height: 43.5rem;
  border-radius: 1.5rem;
  border: 1px #d9d9d9 solid;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}

.topProductCard {
  display: flex;
  flex-direction: column;
}

.productImg {
  margin-bottom: 2.4rem;
  height: 19.4rem;
  object-fit: contain;
}

.productName {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 3.3rem;
  text-align: center;
}

.offerRow {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.offerPercent {
  background-color: #cf5b50;
  padding: 0.7rem 1.3rem;
  border-radius: 10rem;
  font-size: 1.8rem;
  color: white;
}

.initialPrice {
  font-size: 1.6rem;
  color: #757575;
  text-decoration: line-through 1px solid #f24547;
}

.productBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quickAccess {
  display: flex;
  column-gap: 2.4rem;
}

.finalPrice {
  font-size: 1.8rem;
}
