.profileDetail {
  display: flex;
  flex-direction: column;
}

.headerIcon {
  width: 2.6rem;
  height: 2.6rem;
}

.profileDetail h2 {
  font-size: 2.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 2.5rem;
}

.hr {
  border-bottom: 2px solid #50c4cf;
  width: 40%;
  margin-inline: auto;
  margin-bottom: 7rem;
}
