.backgroundImg {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.linkTo,
.shadowOnBackground,
.socialMediaBox,
.goToHome,
.textArea,
.header {
  position: absolute;
}

.header {
  top: 6rem;
  right: 7rem;
  display: flex;
  gap: 6.1rem;
  align-items: center;
}

.socialMediaBox {
  top: 0;
  left: -4rem;
}

.getApp {
  border: 1px solid #000;
  background: transparent;
  border-radius: 2.5rem;
  padding: 2.8rem 3.6rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.shadowOnBackground {
  top: 0;
  left: 0;
  width: 44%;
  height: 100vh;
  background: linear-gradient(
    89.72deg,
    rgba(7, 7, 7, 0.27) 0.24%,
    rgba(0, 0, 0, 0.27) 23.28%,
    rgba(0, 0, 0, 0.27) 48.98%,
    rgba(0, 0, 0, 0.27) 62.43%,
    rgba(3, 3, 3, 0.1971) 77.46%,
    rgba(7, 7, 7, 0) 99.75%
  );
}

.goToHome {
  border: 2px solid #fff;
  border-radius: 50%;
  right: 5rem;
  bottom: 4.3rem;
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.linkTo {
  left: 9.9rem;
  bottom: 8.1rem;
  display: flex;
  gap: 4rem;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
}

.linkTo > p {
  cursor: pointer;
}

.textArea {
  top: 27.3rem;
  right: 6.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3.6rem;
  font-weight: 400;
}

.textArea > p {
  font-size: 2.4rem;
}

.textArea > h3 {
  font-size: 3.2rem;
}
