.footer {
  background-color: #757575;
  padding: 5.4rem 7.1rem;
  position: relative;
}

.footer p,
.footer li {
  color: white;
}

.footer li {
  font-size: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2.9rem;
}

.enamadIcon {
  position: absolute;
  width: 15.9rem;
  left: 10rem;
  bottom: 3.5rem;
}

.upSection {
  display: flex;
  column-gap: 13rem;
  align-items: flex-start;
}

.logo {
  width: 14rem;
  object-fit: cover;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2.4rem;
}

.contactUs {
  display: flex;
  flex-direction: column;
  row-gap: 4.6rem;
}

.linkTo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.confirmButton {
  margin-right: 2rem;
}
