.footer {
  background-color: #757575;
  padding: 54px 71px;
  position: relative;
}

.footer p,
.footer li {
  color: white;
}

.footer li {
  font-size: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 29px;
}

.enamadIcon {
  position: absolute;
  width: 159px;
  left: 100px;
  bottom: 35px;
}

.upSection {
  display: flex;
  column-gap: 130px;
  align-items: flex-start;
}

.logo {
  width: 140px;
  object-fit: cover;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 24px;
}

.contactUs {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
}

.linkTo {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.confirmButton {
  margin-right: 20px;
}
