.introductionMobileApp {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  padding: 7rem;
  position: relative;
  margin-inline: -3.5rem;
}

.introductionMobileApp > span {
  top: 5rem;
  left: 10rem;
}

#refForIntroduction #phoneImg {
  width: 30rem;
}

#refForIntroduction {
  position: relative;
}

.absolute {
  position: absolute;
}

img[alt="arrow-dashed-line-three"] {
  width: 20rem;
  left: -19.5rem;
  top: 32rem;
}

img[alt="arrow-dashed-line-two"] {
  width: 20rem;
  right: -18.5rem;
  top: 30rem;
}

img[alt="arrow-dashed-line-one"] {
  width: 20rem;
  right: -18.5rem;
  top: -3rem;
}

.text {
  border-radius: 1.2rem;
  padding: 1.6rem 1.8rem;
  font-size: 2rem;
  background-color: transparent;
}

.text#waranty {
  top: -3.5rem;
  right: -40rem;
  border: 2px solid #5085cf;
  direction: rtl;
}

.text#newNews {
  left: -42rem;
  top: 58rem;
  border: 2px solid #5085cf;
  padding-inline: 2.4rem;
  direction: rtl;
}

.text#bestBny {
  right: -46rem;
  top: 45rem;
  border: 2px solid #50c4cf;
  padding-inline: 2.4rem;
  direction: rtl;
}
